*{
  background: black;
  font-family: 'Dancing Script', cursive;
}

.App{
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vh;
  /* padding: 10px; */
}
h1{
  color: whitesmoke;
}

.jacr , span a{
  color: crimson;
  text-decoration: none;
}

h1 span{
  color:red;
}

.btn{
  border: 1px solid crimson;
  margin-top: 10vh;
  padding: 10px;
  color:white;
  text-decoration: none;
  background: crimson;
  margin-bottom: 10vh;
  border-radius:05px;
}
